{% extends 'base.html.twig' %}


{% block title %}
    Creation CarteMJ | {{ parent() }}
{% endblock %}

{% block script %}
    <script defer src="{{ asset('script/interfaceMJ.js') }}"></script>
{% endblock %}


{% block body %}
<div class="card-content py-2 my-2 cardTitleAide text-center">
    <h2> Creation de carte :</h2>
</div>

<div class="card mb-2 col cardFiche" id="formAddChamps">
    <div class="container row m-3">

        {# DEBUT formulaire carteMJ #}
        <div class="card-content p-2 m-2 cardTypeInfo col-xl-4 col-lg-6 col-md-12">
            {{ form_start(carteMJForm) }}
                <div class="col pt-3 m-2 text-center cardChamp">
                    {{ form_row(carteMJForm.type) }}
                </div>
                <div class="col pt-3 m-2 text-center cardChamp">
                    {{ form_row(carteMJForm.nom) }}
                </div>
                <div class="col pt-3 m-2 text-center cardChamp">
                    {{ form_row(carteMJForm.PV) }}
                </div>
            {# EN attente gestion filtre dans interfaceMJ
                <div class="col pt-3 m-2 text-center cardChamp">
                    {{ form_row(carteMJForm.filtre) }}
                </div>
            #}
                <div class="col pt-3 m-2 text-center cardChamp">
                    {{ form_row(carteMJForm.note) }}
                </div>
                <div class="col pt-3 m-2 text-center cardChamp">
                    {{ form_row(carteMJForm.image) }}
                </div>

            <div class="row m-2">
                <div id="btnFiche" class=" col p-2 m-2 cardChamp content-center">
                    <button type="submit" class="btn btn-sm button" name="boutonFiche" value="update">Créer</button>
                    <a href="{{ path('interfaceMJ', {'id':user.id}) }}"><button type="button" class="btn btn-sm button " name="boutonFiche" value="retour">Retour</button></a>
                </div>
            </div>
            {{ form_end(carteMJForm) }}
        </div>
        {# FIN formulaire carteMJ #}

        {# DEBUT apercu carteMJ #}
        <div class="col">
        <div id="apercuCard" class="card-content p-2 m-2 cardTypeInfo col-xl-4 col-lg-6 col-md-4 col-sm-6 bestiaire">
                <div class="col m-2 text-center cardChamp">
                    <span id="nomCarteMj">nom</span>
                </div>
                <div class="col m-2 text-center cardChamp champImageCarteMJ">
                    <img class="miniature" id="imgCarteMJ" src="{{ asset('img/icon_d20_mini.png') }}">
                </div>
                <div class="col m-2 text-center cardChamp">
                    <span id="pvCarteMj">1/1</span>
                </div>
                <div id="noteCarteMj" class="col m-2 cardChamp">
                    <span id="noteCarteMj">note</span>
                </div>
        </div>
        </div>
        {# FIN apercu carteMJ #}

    </div>
</div>

{% endblock %}
