{% extends 'base.html.twig' %}

{% block body %}

    <div class=" row m-0">

        {# DEBUT: volet gauche #}
        <div class="col-2 ml-0 pl-1 voletG">
            <div class="mt-4"></div>
            {% include 'inc/_diceMod.html.twig' %}
            {% include 'inc/_ficheMod.html.twig' %}
            <div class="mb-4"></div>
        </div>
        {# FIN: volet gauche #}

        {# DEBUT fiche personnage #}
        <div class="col ml-1">
            <div class="card text-center p-4 cardFiche">
                <div class="card mb-2 p-2 cardTitle content-center">
                    {% if fiche.image %}
                        <table class="col-12">
                            <tbody>
                            <tr>
                                <td class="col-3">
                                    <img class="miniature" id="imagefiche" src="{{ asset('uploads/'~ fiche.image) }}" alt="image fiche">
                                </td>
                                <td class="col">
                                    <h2>
                                        Fiche personnage:<br/>
                                        <span class="pseudoFiche">{{ fiche.pseudo }}</span>
                                    </h2>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <h2>
                            <i class="mdi mdi-account-box"></i>Fiche personnage:
                            <span class="pseudoFiche">{{ fiche.pseudo }}</span>
                        </h2>
                    {% endif %}
                </div>
                {% if fiche.nbRessource == 0 and fiche.nbChamps1 == 0 and fiche.nbChamps2 == 0 and fiche.nbChamps3 == 0 and fiche.nbChamps4 == 0 and fiche.nbChamps5 == 0 and fiche.nbChamps6 == 0 and fiche.nbChamps7 == 0%}
                    <div class="col p-2 m-2 alert alert-info" role="alert">Cliquez sur "Modifier la fiche" pour ajouter des informations à votre fiche personnage.</div>
                {% endif %}
                {% if fiche.nbRessource > 0 %}
                    <div class="card mb-2 p-2 cardTypeInfo content-center">
                        <h3><i class="mdi mdi-ray-vertex"></i> <span class="titreTypeInfo">Ressources:</span></h3>
                        <div class="row container">
                            {% set count = 0 %}
                            {% for ressource in ressources %}
                                {% set count = count + 1 %}
                                <div class="card pb-2 mb-2 col-4 cardChamp">
                                    <span class="labelChamps">
                                        {{ ressource.label }}:
                                            <input type="number" class="inputPV refreshValue{{ count }}" min="0" max="{{ ressource.rangeMax }}" value="{{ ressource.valeurGlissante }}" data-Count="{{ count }}" data-id="{{ ressource.id }}" data-Max="{{ ressource.rangeMax }}" style="max-width: 100px"> / <span class="modifiableRangeMax" data-Page="liste" data-RangeMax="{{ ressource.rangeMax }}" data-id="{{ ressource.id }}">{{ ressource.rangeMax }}</span>
                                    </span>
                                    <div class="progress">
                                        {% set barSize = ressource.valeurGlissante * 100 / ressource.rangeMax %}
                                        <div class="progress-bar progress-bar{{ count }}
                                            {% if barSize > 50 %}
                                                bg-success
                                            {% elseif barSize <= 50 and barSize > 25 %}
                                                bg-warning
                                            {% elseif barSize <= 25 and barSize > 0 %}
                                                bg-danger
                                            {% elseif barSize <= 0 %}
                                                {% set barSize = 100 %}
                                                bg-secondary progress-bar-striped
                                            {% endif %}
                                            " role="progressbar" style="width:{{ barSize }}%" aria-valuenow="{{ ressource.valeurGlissante }}" aria-valuemin="0" aria-valuemax="{{ ressource.rangeMax }}"></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if fiche.nbChamps1 > 0 %}
                    <div class="card mb-2 p-2 px-4 cardTypeInfo content-center">
                        <h3><i class="mdi mdi-account"></i> Identité:</h3>
                        <dl class="row">
                            {% set count = 0 %}
                            {% for champ in champs %}
                                {% set count = count + 1 %}
                                {% if champ.typeInfo.label == 'identité'%}
                                    <div class="col my-1 cardChamp text-wrap">
                                        <dt><span class="labelChamps">{{ champ.label }}:</span></dt>
                                        <dd><span class="modifiable" id="champ{{ count }}" data-Count="{{ count }}" data-Page="liste" data-Champ="{{ champ.id }}" data-ValeurTexte="{{ champ.valeurTexte }}" data-ValeurArea="{{ champ.valeurArea }}">{{ champ.valeurArea != null ? (champ.valeurArea  | nl2br ) : champ.valeurTexte }}</span></dd>           
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </dl>
                    </div>
                {% endif %}
                {% if fiche.nbChamps2 > 0 %}
                    <div class="card mb-2 p-2 px-4 cardTypeInfo content-center">
                        <h3><i class="mdi mdi-graphql"></i> Statistiques:</h3>
                        <dl class="row">
                            {% set count = 0 %}
                            {% for champ in champs %}
                                {% set count = count + 1 %}
                                {% if champ.typeInfo.label == 'statistiques'%}
                                    <div class="col my-1 cardChamp text-wrap">
                                        <dt><span class="labelChamps">{{ champ.label }}:</span></dt>
                                        <dd><span class="modifiable" id="champ{{ count }}" data-Count="{{ count }}" data-Page="liste" data-Champ="{{ champ.id }}" data-ValeurTexte="{{ champ.valeurTexte }}" data-ValeurArea="{{ champ.valeurArea }}">{{ champ.valeurArea != null ? (champ.valeurArea  | nl2br ) : champ.valeurTexte }}</span></dd>           
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </dl>
                    </div>
                {% endif %}
                {% if fiche.nbChamps3 > 0 %}
                    <div class="card mb-2 p-2 px-4 cardTypeInfo content-center">
                        <div class="card-body row">
                            <h3><i class="mdi mdi-arm-flex"></i> Compétences:</h3>
                            <dl class="row">
                            {% set count = 0 %}
                            {% for champ in champs %}
                                {% set count = count + 1 %}
                                {% if champ.typeInfo.label == 'compétences' %}
                                    <div class="col my-1 cardChamp text-wrap">
                                        <dt><span class="labelChamps">{{ champ.label }}:</span></dt>
                                        <dd><span class="modifiable" id="champ{{ count }}" data-Count="{{ count }}" data-Page="liste" data-Champ="{{ champ.id }}" data-ValeurTexte="{{ champ.valeurTexte }}" data-ValeurArea="{{ champ.valeurArea }}">{{ champ.valeurArea != null ? (champ.valeurArea  | nl2br ) : champ.valeurTexte }}</span></dd>           
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </dl>
                        </div>
                    </div>
                {% endif %}
                {% if fiche.nbChamps4 > 0 %}
                    <div class="card mb-2 p-2 px-4 cardTypeInfo content-center">
                        <div class="card-body row">
                            <h3><i class="mdi mdi-axe-battle"></i> Equipements:</h3>
                            <dl class="row">
                            {% set count = 0 %}
                            {% for champ in champs %}
                                {% set count = count + 1 %}
                                {% if champ.typeInfo.label == 'équipements' %}
                                    <div class="col my-1 cardChamp text-wrap">
                                        <dt><span class="labelChamps">{{ champ.label }}:</span></dt>
                                        <dd><span class="modifiable" id="champ{{ count }}" data-Count="{{ count }}" data-Page="liste" data-Champ="{{ champ.id }}" data-ValeurTexte="{{ champ.valeurTexte }}" data-ValeurArea="{{ champ.valeurArea }}">{{ champ.valeurArea != null ? (champ.valeurArea  | nl2br ) : champ.valeurTexte }}</span></dd>           
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </dl>
                        </div>
                    </div>
                {% endif %}
                {% if fiche.nbChamps5 > 0 %}
                    <div class="card mb-2 p-2 px-4 cardTypeInfo content-center">
                        <div class="card-body row">
                            <h3><i class="mdi mdi-bag-personal"></i> Inventaire:</h3>
                            <dl class="row">
                            {% set count = 0 %}
                            {% for champ in champs %}
                                {% set count = count + 1 %}
                                {% if champ.typeInfo.label == 'inventaires' %}
                                    <div class="col my-1 cardChamp text-wrap">
                                        <dt><span class="labelChamps">{{ champ.label }}:</span></dt>
                                        <dd><span class="modifiable" id="champ{{ count }}" data-Count="{{ count }}" data-Page="liste" data-Champ="{{ champ.id }}" data-ValeurTexte="{{ champ.valeurTexte }}" data-ValeurArea="{{ champ.valeurArea }}">{{ champ.valeurArea != null ? (champ.valeurArea  | nl2br ) : champ.valeurTexte }}</span></dd>           
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </dl>
                        </div>
                    </div>
                {% endif %}
                {% if fiche.nbChamps6 > 0 %}
                    <div class="card mb-2 p-2 px-4 cardTypeInfo content-center">
                        <div class="card-body row">
                            <h3><i class="mdi mdi-note"></i> Notes:</h3>
                            <dl class="row">
                            {% set count = 0 %}
                            {% for champ in champs %}
                                {% set count = count + 1 %}
                                {% if champ.typeInfo.label == 'notes' %}
                                    <div class="col my-1 cardChamp text-wrap">
                                        <dt><span class="labelChamps">{{ champ.label }}:</span></dt>
                                        <dd><span class="modifiable" id="champ{{ count }}" data-Count="{{ count }}" data-Page="liste" data-Champ="{{ champ.id }}" data-ValeurTexte="{{ champ.valeurTexte }}" data-ValeurArea="{{ champ.valeurArea }}">{{ champ.valeurArea != null ? (champ.valeurArea  | nl2br ) : champ.valeurTexte }}</span></dd>           
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </dl>
                        </div>
                    </div>
                {% endif %}
                {% if fiche.nbChamps7 > 0 %}
                    <div class="card mb-2 p-2 px-4 cardTypeInfo content-center">
                        <div class="card-body row">
                            <h3><i class="mdi mdi-sticker-plus"></i> Autre:</h3>
                            <dl class="row">
                            {% set count = 0 %}
                            {% for champ in champs %}
                                {% set count = count + 1 %}
                                {% if champ.typeInfo.label == 'autres' %}
                                    <div class="col my-1 cardChamp text-wrap">
                                        <dt><span class="labelChamps">{{ champ.label }}:</span></dt>
                                        <dd><span class="modifiable" id="champ{{ count }}" data-Count="{{ count }}" data-Page="liste" data-Champ="{{ champ.id }}" data-ValeurTexte="{{ champ.valeurTexte }}" data-ValeurArea="{{ champ.valeurArea }}">{{ champ.valeurArea != null ? (champ.valeurArea  | nl2br ) : champ.valeurTexte }}</span></dd>           
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </dl>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {# FIN fiche personnage #}

    {# AIDE #}
    <div class="card mt-4 p-4 cardFicheAide">
        <div class="card mb-2 cardTitleAide">
            <h2 class="text-center"> Aide : </h2>
        </div>
        <div class="card mb-2 p-2 cardChampAide content-center">
            <div class=" col p-2 m-2 cardChamp">
                <p class="labelChamps">Ajouter ou supprimer un champ ou une ressource:</p>
                <ul>
                    <li>Clique sur le bouton "Modifier la fiche" : redirige vers la page de modification de la fiche.</li>
                </ul>
                <p class="labelChamps">Modification d'un champ:</p>
                <ul>
                    <li>Clique sur la valeur : permet de modifier la valeur du champ sélectionné.</li>
                </ul>
                <p class="labelChamps">Modification d'une ressource:</p>
                <ul>
                    <li>Saisir une nouvelle valeur : modifie la longueur de la barre de la ressource sélectionnée.</li>
                    <li>Clique sur la valeur max : permet de modifier la valeur max de la ressource sélectionnée.</li>
                </ul>
            </div>
        </div>
    </div>
    {# FIN AIDE #}




{% endblock %}

{% block title %}
    {{ fiche.pseudo }} | {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}


