{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="listeFiche" class="container-fluid col-12">
        <div class="row">
            <div id="containerList" class="col-6 cardFiche m-5 p-5">
                {% if app.user.id == user.id or is_granted("ROLE_ADMIN")%}
                    <h3 class="cardTitle text-center p-1 mb-5">Fiches de personnages de <span class="pseudoFiche">{{ user.pseudo }}</span></h3>
                    <div class="listPerso">
                        {% if fiches.count != 0 %}
                            {% for fiche in fiches %}
                                <div class="cardChamp p-2 m-1 col text-center">
                                    <a class="lienFiche" href="{{ path('fiche_detail', {'id': fiche.id}) }}">
                                    <table class="col-12">
                                        <tbody>
                                            <tr>
                                                <td class="col-4">
                                                        <img class="miniature" id="imagefiche" src="{{ asset('uploads/' ~ fiche.image) }}" alt="image fiche">
                                                </td>
                                                <td class="col-8">
                                                    {{ fiche.pseudo }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>pas de fiche perso</p>
                        {% endif %}
                    </div>
                    <div class="newFiche">
                        <a href="{{ path('fiche_create' , {'id' : user.id}) }}"><button class="btn btn-md button"><i class="mdi mdi-account-multiple-plus"></i> Nouveau personnage</button></a>
                    </div>
                {% else %}
                    <h3> Informations non disponibles </h3>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

