{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="listeFiche" class="container-fluid col-12">
        <div class="row">
            <div id="containerList" class="cardFiche m-5 p-5 col-lg-8">
                {% if app.user.id == user.id or is_granted("ROLE_ADMIN")%}
                    <h3 class="cardTitle text-center p-1 mb-5">Fiches de personnages de <span class="pseudoFiche">{{ user.pseudo }}</span></h3>
                    <div class="listPerso">
                        {% if fiches.count != 0 %}
                            {% for fiche in fiches %}
                                <a class="lienFiche" href="{{ path('fiche_detail', {'id': fiche.id}) }}">
                                    <div class="cardChamp py-2 px-4 m-1">
                                        <dl class="row">
                                            <div class="col">
                                                <dt>
                                                    <img class="miniature" id="imagefiche" src="{{ asset('uploads/' ~ fiche.image) }}" alt="image fiche">
                                                </dt>
                                            </div>
                                            <div class="col align-self-center">
                                                <dt>
                                                    {{ fiche.pseudo }}
                                                </dt>
                                            </div>
                                        </dl>
                                    </div>
                                </a>
                            {% endfor %}
                        {% else %}
                            <p>pas de fiche perso</p>
                        {% endif %}
                    </div>
                    <div class="newFiche">
                        <a href="{{ path('fiche_create' , {'id' : user.id}) }}"><button class="btn btn-md button"><i class="mdi mdi-account-multiple-plus"></i> Nouveau personnage</button></a>
                    </div>
                {% else %}
                    <h3> Informations non disponibles </h3>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

