{% extends 'base.html.twig' %}

{% block body %}
    <div class="row m-0">
        {# DEBUT: volet gauche #}
        <div class="col-2 ml-0 pl-1 voletG">
            <div class="mt-4"></div>
            {% include 'inc/_formFicheMod.html.twig' %}
            {% include 'inc/_ficheUpdateMod.html.twig' %}
            <div class="mb-4"></div>
        </div>
        {# FIN: volet gauche #}


        <div class="ml-1 text-center p-4 cardFiche col-sm-12 col-md">
            <div class="mb-2 cardTitle text-center">
                {% if fiche.image %}
                    <table class="col-12">
                        <tbody>
                        <tr>
                            <td class="col-3">
                                <img class="miniature" id="imagefiche" src="{{ asset('uploads/'~fiche.image) }}" alt="image fiche">
                            </td>
                            <td class="col">
                                <h2>
                                    Modification de la fiche personnage:<br/>
                                    <span class="pseudoFiche">{{ fiche.pseudo }}</span>
                                </h2>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% else %}
                    <h2>
                        <i class="mdi mdi-account-box"></i>Modification de la fiche personnage:
                        <span class="pseudoFiche">{{ fiche.pseudo }}</span>
                    </h2>
                {% endif %}
            </div>

            {% if fiche.nbRessource == 0 and fiche.nbChamps1 == 0 and fiche.nbChamps2 == 0 and fiche.nbChamps3 == 0 and fiche.nbChamps4 == 0 and fiche.nbChamps5 == 0 and fiche.nbChamps6 == 0 and fiche.nbChamps7 == 0%}
                <div class="col p-2 m-2 infoFiche text-start alert alert-info" role="alert">
                    <span class="labelChamps">Ajoutez un champ ou une ressource en remplissant un des formulaires.</span>
                    <ul>
                        <li>Les champs seront répartis dans les sections suivant le type d'information choisi.</li>
                        <li>Le type de champ saisie permet soit:
                            <ul>
                                <li>écrire un texte ou valeur simple</li>
                                <li>écrire un texte ou valeur avec possibilité retour à la ligne.</li>
                            </ul>
                        </li>
                        <li>Les ressources permettent de créer des jauges (points de vie, magie, munitions,...)</li>
                        <li>Trois ressources au maximum.</li>
                    </ul>
                    <span class="labelChamps">Pour modifier un champ ou une ressource, cliquez sur sa valeur.</span><br/>
                    <span class="labelChamps">Pour supprimer un champ ou une ressource, cliquez sur son nom.</span>
                </div>
            {% endif %}

            <div class="card mb-2 p-2 cardTypeInfo content-center">
                    <h3> Ressources:</h3>
                    <div class="row container">
                        {% set count = 0 %}
                        {% for ressource in ressources %}
                            {% set count = count + 1 %}
                            <div class="card mb-2 col-4 cardChamp">
                                <span class="labelChamps">
                                    <span class="cliquableRessource" data-Ressource="{{ ressource.id }}">{{ ressource.label }}: </span>
                                    <span class="colorValue{{ count }}">
                                        <span class="refreshValue{{ count }}">{{ ressource.valeurGlissante }}</span> / <span class="modifiableRangeMax" data-Page="update" data-RangeMax="{{ ressource.rangeMax }}" data-id="{{ ressource.id }}">{{ ressource.rangeMax }}</span>
                                    </span>
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            <div class="card mb-2 p-2 cardTypeInfo content-center">
                <h3> Identité:</h3>
                <div class="row container">
                    {% set count = 0 %}
                    {% for champ in champs %}
                        {% set count = count + 1 %}
                        {% if champ.typeInfo.label == 'identité'%}
                                <div class="card mb-2 col-4  cardChamp ">
                                    <div class="champFiche">
                                        <span class="buttonPrevious" data-Champ="{{ champ.id }}" data-sort="{{ champ.sort }}" style="{{ champ.sort==0?'display:none' }}"> < </span>
                                        <div class="champZoneInfo col-10">
                                            <span class="labelChamps cliquableChamp" data-Champ="{{ champ.id }}"> {{ champ.label }}</span>
                                            <span class="modifiable" id="champ{{ count }}" data-Count="{{ count }}" data-Page="update" data-Champ="{{ champ.id }}" data-ValeurTexte="{{ champ.valeurTexte }}" data-ValeurArea="{{ champ.valeurArea }}">{{ champ.valeurArea != null ? (champ.valeurArea  | nl2br ) : champ.valeurTexte }}</span>
                                        </div>
                                        <span class="buttonNext" data-Champ="{{ champ.id }}" data-sort="{{ champ.sort }}" style="{{champ.sort == (champs|length)-1?'display:none' }}"> > </span>
                                    </div>
                                </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="card mb-2 p-2 cardTypeInfo content-center">
                <h3> Statistiques:</h3>
                <div class="row container">
                    {% set count = 0 %}
                    {% for champ in champs %}
                        {% set count = count + 1 %}
                        {% if champ.typeInfo.label == 'statistiques'%}
                            <div class="card mb-2 col-4  cardChamp ">
                                    <div class="champFiche">
                                        <span class="buttonPrevious" data-Champ="{{ champ.id }}" data-sort="{{ champ.sort }}" style="{{ champ.sort==0?'display:none' }}"> < </span>
                                        <div class="champZoneInfo col-10">
                                            <span class="labelChamps cliquableChamp" data-Champ="{{ champ.id }}"> {{ champ.label }}</span>
                                            <span class="modifiable" id="champ{{ count }}" data-Count="{{ count }}" data-Page="update" data-Champ="{{ champ.id }}" data-ValeurTexte="{{ champ.valeurTexte }}" data-ValeurArea="{{ champ.valeurArea }}">{{ champ.valeurArea != null ? (champ.valeurArea  | nl2br ) : champ.valeurTexte }}</span>
                                        </div>
                                        <span class="buttonNext" data-Champ="{{ champ.id }}" data-sort="{{ champ.sort }}" style="{{champ.sort == (champs|length)-1?'display:none' }}"> > </span>
                                    </div>
                                </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="card mb-2 p-2 cardTypeInfo content-center">
                <div class="card-content">
                    <h3> Compétences:</h3>
                    <div class="row container">
                        {% set count = 0 %}
                        {% for champ in champs %}
                            {% set count = count + 1 %}
                            {% if champ.typeInfo.label == 'compétences'%}
                                <div class="card mb-2 col-4  cardChamp ">
                                    <div class="champFiche">
                                        <span class="buttonPrevious" data-Champ="{{ champ.id }}" data-sort="{{ champ.sort }}" style="{{ champ.sort==0?'display:none' }}"> < </span>
                                        <div class="champZoneInfo col-10">
                                            <span class="labelChamps cliquableChamp" data-Champ="{{ champ.id }}"> {{ champ.label }}</span>
                                            <span class="modifiable" id="champ{{ count }}" data-Count="{{ count }}" data-Page="update" data-Champ="{{ champ.id }}" data-ValeurTexte="{{ champ.valeurTexte }}" data-ValeurArea="{{ champ.valeurArea }}">{{ champ.valeurArea != null ? (champ.valeurArea  | nl2br ) : champ.valeurTexte }}</span>
                                        </div>
                                        <span class="buttonNext" data-Champ="{{ champ.id }}" data-sort="{{ champ.sort }}" style="{{champ.sort == (champs|length)-1?'display:none' }}"> > </span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card mb-2 p-2 cardTypeInfo content-center">
                <div class="card-content">
                    <h3> Equipement:</h3>
                    <div class="row container">
                        {% set count = 0 %}
                        {% for champ in champs %}
                            {% set count = count + 1 %}
                            {% if champ.typeInfo.label == 'équipements'%}
                                <div class="card mb-2 col-4  cardChamp ">
                                    <div class="champFiche">
                                        <span class="buttonPrevious" data-Champ="{{ champ.id }}" data-sort="{{ champ.sort }}" style="{{ champ.sort==0?'display:none' }}"> < </span>
                                        <div class="champZoneInfo col-10">
                                            <span class="labelChamps cliquableChamp" data-Champ="{{ champ.id }}"> {{ champ.label }}</span>
                                            <span class="modifiable" id="champ{{ count }}" data-Count="{{ count }}" data-Page="update" data-Champ="{{ champ.id }}" data-ValeurTexte="{{ champ.valeurTexte }}" data-ValeurArea="{{ champ.valeurArea }}">{{ champ.valeurArea != null ? (champ.valeurArea  | nl2br ) : champ.valeurTexte }}</span>
                                        </div>
                                        <span class="buttonNext" data-Champ="{{ champ.id }}" data-sort="{{ champ.sort }}" style="{{champ.sort == (champs|length)-1?'display:none' }}"> > </span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card mb-2 p-2 cardTypeInfo content-center">
                <div class="card-content">
                    <h3> Inventaire:</h3>
                    <div class="row container">
                        {% set count = 0 %}
                        {% for champ in champs %}
                            {% set count = count + 1 %}
                            {% if champ.typeInfo.label == 'inventaires'%}
                                <div class="card mb-2 col-4  cardChamp ">
                                    <div class="champFiche">
                                        <span class="buttonPrevious" data-Champ="{{ champ.id }}" data-sort="{{ champ.sort }}" style="{{ champ.sort==0?'display:none' }}"> < </span>
                                        <div class="champZoneInfo col-10">
                                            <span class="labelChamps cliquableChamp" data-Champ="{{ champ.id }}"> {{ champ.label }}</span>
                                            <span class="modifiable" id="champ{{ count }}" data-Count="{{ count }}" data-Page="update" data-Champ="{{ champ.id }}" data-ValeurTexte="{{ champ.valeurTexte }}" data-ValeurArea="{{ champ.valeurArea }}">{{ champ.valeurArea != null ? (champ.valeurArea  | nl2br ) : champ.valeurTexte }}</span>
                                        </div>
                                        <span class="buttonNext" data-Champ="{{ champ.id }}" data-sort="{{ champ.sort }}" style="{{champ.sort == (champs|length)-1?'display:none' }}"> > </span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card mb-2 p-2 cardTypeInfo content-center">
                <div class="card-content">
                    <h3> Notes:</h3>
                    <div class="row container">
                        {% set count = 0 %}
                        {% for champ in champs %}
                            {% set count = count + 1 %}
                            {% if champ.typeInfo.label == 'notes'%}
                                <div class="card mb-2 col-4  cardChamp ">
                                    <div class="champFiche">
                                        <span class="buttonPrevious" data-Champ="{{ champ.id }}" data-sort="{{ champ.sort }}" style="{{ champ.sort==0?'display:none' }}"> < </span>
                                        <div class="champZoneInfo col-10">
                                            <span class="labelChamps cliquableChamp" data-Champ="{{ champ.id }}"> {{ champ.label }}</span>
                                            <span class="modifiable" id="champ{{ count }}" data-Count="{{ count }}" data-Page="update" data-Champ="{{ champ.id }}" data-ValeurTexte="{{ champ.valeurTexte }}" data-ValeurArea="{{ champ.valeurArea }}">{{ champ.valeurArea != null ? (champ.valeurArea  | nl2br ) : champ.valeurTexte }}</span>
                                        </div>
                                        <span class="buttonNext" data-Champ="{{ champ.id }}" data-sort="{{ champ.sort }}" style="{{champ.sort == (champs|length)-1?'display:none' }}"> > </span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card mb-2 p-2 cardTypeInfo content-center">
                <div class="card-content">
                    <h3> Autre:</h3>
                    <div class="row container">
                        {% set count = 0 %}
                        {% for champ in champs %}
                            {% set count = count + 1 %}
                            {% if champ.typeInfo.label == 'autres'%}
                                <div class="card mb-2 col-4  cardChamp ">
                                    <div class="champFiche">
                                        <span class="buttonPrevious" data-Champ="{{ champ.id }}" data-sort="{{ champ.sort }}" style="{{ champ.sort==0?'display:none' }}"> < </span>
                                        <div class="champZoneInfo col-10">
                                            <span class="labelChamps cliquableChamp" data-Champ="{{ champ.id }}"> {{ champ.label }}</span>
                                            <span class="modifiable" id="champ{{ count }}" data-Count="{{ count }}" data-Page="update" data-Champ="{{ champ.id }}" data-ValeurTexte="{{ champ.valeurTexte }}" data-ValeurArea="{{ champ.valeurArea }}">{{ champ.valeurArea != null ? (champ.valeurArea  | nl2br ) : champ.valeurTexte }}</span>
                                        </div>
                                        <span class="buttonNext" data-Champ="{{ champ.id }}" data-sort="{{ champ.sort }}" style="{{champ.sort == (champs|length)-1?'display:none' }}"> > </span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        {# AIDE #}
        <div class="card mt-4 p-4 cardFiche">
            <div class="card mb-2 cardTitle">
                <h2 class="text-center"> Aide : </h2>
            </div>
            <div class="card mb-2 p-2 cardTypeInfo">
                <div class=" col p-2 m-2 cardChamp">
                    <p class="labelChamps">Ajout d'un champ:</p>
                    <ul>
                        <p>Choix du type de champ de saisie:</p>
                        <li>Champ de texte : texte ou valeur simple.</li>
                        <li>Zone de texte : texte ou valeur avec possibilité retour à la ligne.</li>
                    </ul>

                    <p class="labelChamps">Modification d'un champ:</p>
                    <ul>
                        <li>Clique sur la valeur du champ : permet de modifier la valeur du champ sélectionné.</li>
                        <li>Clique sur le nom du champ : permet de supprimer le champ sélectionné.</li>
                    </ul>
                    <p class="labelChamps">Modification d'une ressource:</p>
                    <ul>
                        <li>Clique sur la valeur max : permet de modifier la valeur max de la ressource sélectionnée.</li>
                        <li>Clique sur le nom de la ressource : permet de supprimer la ressource sélectionnée.</li>
                    </ul>
                    <p class="labelChamps">Modification de la fiche:</p>
                    <ul>
                        <li>Clique sur le bouton "Modifier le nom ou l'image" : Redirige vers le formulaire de la création de la fiche.</li>
                    </ul>
                </div>
            </div>
        </div>
        {# FIN AIDE #}
    </div>
{% endblock %}

{% block title %}
    {{ fiche.pseudo }} | Modification | {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}