{% extends 'base.html.twig' %}

{% block body %}
    <div class="cardFiche col m-5"  style="min-width: 100px">
        <h2 class="h3 m-3 font-weight-normal cardTitle text-center p-1">Modification du profil</h2>
            <div class="cardChamp m-3 p-4" style="min-width: 70px">
                {% if post == false %}
                    <div class="col p-2 m-2 infoFiche text-start alert alert-info" role="alert">
                        Saisissez les informations à modifier.
                    </div>
                    <form action="#" method="POST" name="profilUpdate">
                        <dl>
                            <dt>
                                <label for="password1">Mot de passe*</label>
                            </dt>
                            <dd>
                                <input type="password" id="password1" name="password1" required="required">
                            </dd>
                            <dt>
                                <label for="password2">Retaper le mot de passe*</label>
                            </dt>
                            <dd>
                                <input type="password" id="password2" name="password2" required="required">
                            </dd>
                        </dl>
                        <input type="hidden" id="post" name="post" value="post1" required="required" readonly="readonly">
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-sm button text-nowrap" value="update">Valider</button>
                            </div>
                            <div class="col">
                                <a href="{{ path('user_profil', {'id':user.id})}}">
                                    <button type="button" class="btn btn-sm button text-nowrap" value="retour">Retour</button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            {% elseif post == true %}
                <div class="col p-2 m-2 infoFiche text-start alert alert-info" role="alert">
                    Un code de validation à 6 chiffres vous a été envoyé par mail.
                </div>
                <form action="#" method="POST" name="codeValidation">
                    <dt>
                        <label for="codeValidation">Code validation*</label>
                    </dt>
                    <dd>
                        <input type="text" id="codeValidation" name="codeValidation" placeholder="code à 6 chiffres" required="required" minlength="6" maxlength="6">
                    </dd>
                    <input type="hidden" id="postPswd1" name="postPswd1" value="{{ postPswd1 }}" required="required" readonly="readonly">
                    <input type="hidden" id="postPswd2" name="postPswd2" value="{{ postPswd2 }}" required="required" readonly="readonly">
                    <input type="hidden" id="post" name="post" value="post2" required="required" readonly="readonly">
                    <input type="hidden" id="postUser" name="postUser" value={{ app.user }} required="required" readonly="readonly">
                    <button type="submit" class="btn btn-sm button text-nowrap" value="update">Valider</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block title %}
    profil Update | {{ parent() }}
{% endblock %}

